body{
    background: #4bbe4c;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:green;
}
#snake{
    border: 50px solid;
    
}
